 <%- include('partials/head') %>

 <body>

   <%- include('partials/navbar') %>

   <section id="catalogo">
     <h2 class="section-title">Catálogo</h2>
     <div id="filters">
       <input type="text" placeholder="Buscar por nome...">
       <select>
         <option>Todos os sabores</option>
         <option>Chocolate</option>
         <option>Frutas</option>
         <option>Tradicional</option>
       </select>
     </div>
     <div id="product-list">

       <div id="dishes">

         <% produtos.forEach(produto => { %>

         <div class="dish">
           <div class="dish-heart">
             <i class="fa-solid fa-heart"></i>
           </div>

           <img src="<%= produto.imagem %>" alt="">

           <h3 class="dish-title">
             <%= produto.nome %>
           </h3>

           <span class="dish-description">
             <%= produto.descricao %>
           </span>

           <div class="dish-rate">
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <i class="fa-solid fa-star"></i>
             <span>(500+)</span>
           </div>

           <div class="dish-price">
             <h4>R$ <%= produto.valor %></h4>
             <button class="btn-default">
               <i class="fa-solid fa-basket-shopping"></i>
             </button>
           </div>
         </div>

         <% }) %>



       </div>

     </div>
   </section>

   <%- include('partials/footer') %>

 </body>

 <%- include('partials/headerFinal') %>
