<%- include('partials/head') %>

<body>
  <%- include('partials/navbarAdm') %>

  <section id="admin-pedidos">
    <h2 class="section-title">Pedidos Recebidos</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Valor</th>
          <th>Recheio</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% produtos.forEach(produto => { %>
        <tr>
          <td><%= produto.id %></td>
          <td><%= produto.nome %></td>
          <td>R$ <%= produto.valor %></td>
          <td><%= produto.recheio %></td>
          <td>
            <div class="produtos_edit">
              <button class="btn-default deletar-produto" data-id="<%= produto.id %>">Deletar</button>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.deletar-produto')
        .forEach(button => {
          button.addEventListener('click', async (e) => {
            const id = e.target.getAttribute('data-id');
            if (confirm(`Quer mesmo deletar o Produto #${id}?`)) {
              try {
                const response = await fetch(`/deletarProduto/${id}`, {
                  method: 'DELETE'
                });
                if (response.ok) {
                  alert('Produto deletado com sucesso!');
                  window.location.reload();
                } else {
                  alert('Erro ao deletar Produto.');
                }
              } catch (err) {
                alert('Erro na requisição.');
                console.error(err);
              }
            }
          });
        });
    });

  </script>

  <%- include('partials/footer') %>

</body>


<%- include('partials/headerFinal') %>
